<div class="banner">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <app-formareserva></app-formareserva>
            </div>
        </div>
    </div>
    
    

</div>

<section>
    <app-descripcion></app-descripcion>
</section>
<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-3 mt-2  ">
            
                <div class="card col mt-2 m-2 p-3" style="width: 18rem;" *ngFor="let habitacion of habitaciones">
                    <img src="{{habitacion.fotografias[0]}}" class="card-img-top fotocard" alt="imagenHabitacion">
                    <div class="card-body">
                    <h5 class="card-title">{{habitacion.nombre}}</h5>
                    <p class="card-text">{{habitacion.descripcion}}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Valor Noche: </strong> {{habitacion.valorNoche}}</li>
                        <li class="list-group-item"><strong>Numero de personas: </strong> {{habitacion.numeroMaximoPersonas}}</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section>   
    <app-footer></app-footer>
</section>